{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
    <div class="w-full flex flex-row justify-center items-start">
        <img src="{{ asset('images/conviction.jpg') }}" alt="Branch" class="w-1/2">
        <div class="w-1/2 flex flex-col items-center pt-16">
            <form method="post" class="w-2/3 flex flex-col gap-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h2 class="font-medium text-xl">Connexion</h2>
                <div class="w-full flex flex-col gap-2">
                    <label for="username" class="font-normal text-sm text-[#666666]">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="w-full h-[77px] border border-[#666666] p-4 text-xl" autocomplete="email" required autofocus>
                </div>
                <div class="w-full flex flex-col gap-2">
                    <label for="password" class="font-normal text-sm text-[#666666]">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="w-full h-[77px] border border-[#666666] p-4 text-xl" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <button class="w-full h-[77px] bg-[#565656] hover:bg-black text-white flex justify-center items-center cursor-pointer font-normal text-sm" type="submit">
                    Se connecter
                </button>
                <div class="flex flex-col items-center font-normal text-sm text-[#666666] underline">
                    <a href="{{ path('app_register') }}">Pas encore de compte ? S’inscrire</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
