{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block body %}
    <div class="flex flex-row gap-0 h-[686px]">
        <div class="w-1/2">
            <img class="w-full h-full object-cover object-center" src="{{ asset(article.pictureLink) }}" alt="{{ article.name }}">
        </div>
        <div class="w-1/2 flex flex-col justify-between items-center pt-28 px-28">
            {# Description #}
            <div class="h-96 flex flex-col justify-start gap-14">
                <div class="flex flex-col justify-start gap-4">
                    <h2 class="font-medium text-xl">{{ article.name }}</h2>
                    <p class="font-light text-3xl">{{ article.price | format_currency('EUR', locale: 'fr') }}</p>
                </div>
                <div class="flex flex-col justify-start gap-2">
                    <h3 class="font-normal text-[10px] text-[#666666]">Description</h3>
                    <div class="font-normal text-sm text-[#666666]">{{ article.fullDescription }}</div>
                </div>
            </div>
            {# Call to action #}
            <div class="w-full">
            {% if app.user %}
                {{ form_start(form) }}
                <div class="w-full flex flex-col items-center justify-center">
                    <div>
                        {{ form_errors(form) }}
                    </div>

                    <div class="w-full flex flex-row gap-4">
                        {{ form_widget(form.quantity, {'attr': {'class': 'w-[77px] h-[77px] border border-[#666666] text-center p-4 text-xl'}}) }}
                        {{ form_widget(form.save, {'attr': {'class': 'w-full h-[77px] bg-[#565656] hover:bg-black text-white flex justify-center items-center cursor-pointer font-normal text-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            {% else %}
                <div class="flex flex-col justify-center items-center">
                    <p class="font-normal text-sm text-red-500">Veuillez vous connecter pour ajouter cet article au panier</p>
                    <a class="w-full h-[77px] bg-[#565656] hover:bg-black text-white flex justify-center items-center cursor-pointer font-normal text-sm" href="{{ path('app_login') }}">Se connecter</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
